USE [master]
GO
/****** Object:  Database [StemCenter]    Script Date: 5/9/2026 11:00:37 PM ******/
CREATE DATABASE [StemCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StemCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StemCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StemCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StemCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StemCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StemCenter]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[IsPresent] [bit] NOT NULL,
	[ProductMediaUrls] [nvarchar](max) NULL,
	[TeacherRawNote] [nvarchar](max) NULL,
	[AiEvaluation] [nvarchar](max) NULL,
	[VideoTranscript] [nvarchar](max) NULL,
	[AiProcessStatus] [nvarchar](50) NULL,
	[SoftSkillJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[LinkUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[ClassCode] [varchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[TargetAgeMin] [tinyint] NOT NULL,
	[TargetAgeMax] [tinyint] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TotalSessions] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Summary] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentBorrows]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentBorrows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[SessionId] [int] NOT NULL,
	[BorrowerId] [int] NOT NULL,
	[BorrowTime] [datetime] NOT NULL,
	[ReturnTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentCategories]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TotalQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SerialNumber] [varchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[ClassId] [int] NULL,
	[InvoiceNo] [varchar](50) NOT NULL,
	[FinalAmount] [decimal](18, 2) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[DueDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[InterestedId] [int] NULL,
	[Status] [tinyint] NOT NULL,
	[Email] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceLogs]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[ReportedBy] [int] NOT NULL,
	[Issue] [nvarchar](max) NOT NULL,
	[Status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[TransDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Slug] [varchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[Excerpt] [nvarchar](500) NULL,
	[Category] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[PublishedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SessionNo] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Topic] [nvarchar](200) NULL,
	[TeachingMaterialUrl] [nvarchar](max) NULL,
	[ClassMediaUrls] [nvarchar](max) NULL,
	[AssistantNote] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfiles]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfiles](
	[UserId] [int] NOT NULL,
	[CurrentSchool] [nvarchar](150) NULL,
	[GuardianName] [nvarchar](100) NOT NULL,
	[GuardianPhone] [varchar](20) NOT NULL,
	[MedicalNotes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/9/2026 11:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON 

INSERT [dbo].[Attendances] ([Id], [SessionId], [StudentId], [IsPresent], [ProductMediaUrls], [TeacherRawNote], [AiEvaluation], [VideoTranscript], [AiProcessStatus], [SoftSkillJson]) VALUES (1, 3, 7, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Attendances] ([Id], [SessionId], [StudentId], [IsPresent], [ProductMediaUrls], [TeacherRawNote], [AiEvaluation], [VideoTranscript], [AiProcessStatus], [SoftSkillJson]) VALUES (2, 3, 6, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Attendances] ([Id], [SessionId], [StudentId], [IsPresent], [ProductMediaUrls], [TeacherRawNote], [AiEvaluation], [VideoTranscript], [AiProcessStatus], [SoftSkillJson]) VALUES (3, 3, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Attendances] OFF
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([Id], [Title], [ImageUrl], [LinkUrl], [IsActive], [SortOrder]) VALUES (1, N'Kiến Tạo Tương Lai', N'/uploads/banners/e602684ab4fd41bfbd732832966a8e13.jpg', NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([Id], [CourseId], [TeacherId], [ClassCode], [StartDate], [EndDate]) VALUES (1, 5, 4, N'LEGO-K1', CAST(N'2026-05-05' AS Date), CAST(N'2026-06-04' AS Date))
INSERT [dbo].[Classes] ([Id], [CourseId], [TeacherId], [ClassCode], [StartDate], [EndDate]) VALUES (2, 6, 4, N'LCMT-K1', CAST(N'2026-01-05' AS Date), CAST(N'2026-03-03' AS Date))
INSERT [dbo].[Classes] ([Id], [CourseId], [TeacherId], [ClassCode], [StartDate], [EndDate]) VALUES (3, 2, 8, N'SCRATCH-K1', CAST(N'2026-05-04' AS Date), CAST(N'2026-06-05' AS Date))
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Code], [Name], [TargetAgeMin], [TargetAgeMax], [Price], [TotalSessions], [ImageUrl], [Summary]) VALUES (1, N'PY01', N'Lập Trình Python ứng dụng', 12, 18, CAST(3000000.00 AS Decimal(18, 2)), 16, N'/images/courses/python.jpg', NULL)
INSERT [dbo].[Courses] ([Id], [Code], [Name], [TargetAgeMin], [TargetAgeMax], [Price], [TotalSessions], [ImageUrl], [Summary]) VALUES (2, N'SCR01', N'Lập Trình Scratch', 8, 12, CAST(2500000.00 AS Decimal(18, 2)), 12, N'/images/courses/scratch.jpg', NULL)
INSERT [dbo].[Courses] ([Id], [Code], [Name], [TargetAgeMin], [TargetAgeMax], [Price], [TotalSessions], [ImageUrl], [Summary]) VALUES (3, N'CRE01', N'Lập Trình Creaticode 3D', 9, 14, CAST(2800000.00 AS Decimal(18, 2)), 12, N'/images/courses/3d.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([Id], [ClassId], [StudentId], [EnrollDate]) VALUES (2, 1, 6, CAST(N'2026-05-05T22:21:07.420' AS DateTime))
INSERT [dbo].[Enrollments] ([Id], [ClassId], [StudentId], [EnrollDate]) VALUES (3, 1, 1, CAST(N'2026-05-05T22:21:12.487' AS DateTime))
INSERT [dbo].[Enrollments] ([Id], [ClassId], [StudentId], [EnrollDate]) VALUES (4, 1, 7, CAST(N'2026-05-05T22:35:46.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentBorrows] ON 

INSERT [dbo].[EquipmentBorrows] ([Id], [EquipmentId], [SessionId], [BorrowerId], [BorrowTime], [ReturnTime]) VALUES (1, 3, 3, 4, CAST(N'2026-05-06T22:11:00.000' AS DateTime), CAST(N'2026-05-06T22:12:05.953' AS DateTime))
INSERT [dbo].[EquipmentBorrows] ([Id], [EquipmentId], [SessionId], [BorrowerId], [BorrowTime], [ReturnTime]) VALUES (2, 3, 7, 4, CAST(N'2026-05-08T14:06:00.000' AS DateTime), CAST(N'2026-05-08T14:17:58.510' AS DateTime))
INSERT [dbo].[EquipmentBorrows] ([Id], [EquipmentId], [SessionId], [BorrowerId], [BorrowTime], [ReturnTime]) VALUES (3, 3, 7, 4, CAST(N'2026-05-08T14:28:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[EquipmentBorrows] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentCategories] ON 

INSERT [dbo].[EquipmentCategories] ([Id], [Name], [TotalQuantity]) VALUES (1, N'AI STEAM', 1)
INSERT [dbo].[EquipmentCategories] ([Id], [Name], [TotalQuantity]) VALUES (2, N'ROBOT S1', 1)
INSERT [dbo].[EquipmentCategories] ([Id], [Name], [TotalQuantity]) VALUES (3, N'LEGO WEDO 2.0', 1)
SET IDENTITY_INSERT [dbo].[EquipmentCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipments] ON 

INSERT [dbo].[Equipments] ([Id], [CategoryId], [SerialNumber], [Status], [ImageUrl]) VALUES (1, 3, N'LEGO-1', 1, N'/uploads/equipments/95051b2ef059477986fe2632ecc2577e.jpg')
INSERT [dbo].[Equipments] ([Id], [CategoryId], [SerialNumber], [Status], [ImageUrl]) VALUES (2, 2, N'NASHENBOT-1', 1, N'/uploads/equipments/77149ce0fb26443982b02a4731dc0642.jpg')
INSERT [dbo].[Equipments] ([Id], [CategoryId], [SerialNumber], [Status], [ImageUrl]) VALUES (3, 4, N'IPAD', 2, N'/uploads/equipments/17c83eee5d3f482284f0183b4538881a.jpg')
SET IDENTITY_INSERT [dbo].[Equipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [StudentId], [ClassId], [InvoiceNo], [FinalAmount], [Status], [DueDate]) VALUES (1, 1, 1, N'INV-001', CAST(100000000.00 AS Decimal(18, 2)), 2, NULL)
INSERT [dbo].[Invoices] ([Id], [StudentId], [ClassId], [InvoiceNo], [FinalAmount], [Status], [DueDate]) VALUES (3, 6, 1, N'INV-003', CAST(500000.00 AS Decimal(18, 2)), 3, NULL)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Leads] ON 

INSERT [dbo].[Leads] ([Id], [ParentName], [Phone], [InterestedId], [Status], [Email]) VALUES (1, N'Nguyễn Văn Bình', N'0812733900', 1, 2, NULL)
INSERT [dbo].[Leads] ([Id], [ParentName], [Phone], [InterestedId], [Status], [Email]) VALUES (2, N'Nguyễn Đình Đức Phú', N'0987654321', 1, 2, N'phu@gmail.com')
SET IDENTITY_INSERT [dbo].[Leads] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] ON 

INSERT [dbo].[MaintenanceLogs] ([Id], [EquipmentId], [ReportedBy], [Issue], [Status]) VALUES (1, 4, 4, N'Bảo trì', 2)
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [InvoiceId], [Amount], [PaymentMethod], [TransDate]) VALUES (1, 1, CAST(5000000.00 AS Decimal(18, 2)), N'Cash', CAST(N'2026-05-05T10:41:09.377' AS DateTime))
INSERT [dbo].[Payments] ([Id], [InvoiceId], [Amount], [PaymentMethod], [TransDate]) VALUES (3, 3, CAST(500000.00 AS Decimal(18, 2)), N'Banking', CAST(N'2026-05-08T14:05:21.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Student')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Teacher')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([Id], [ClassId], [SessionNo], [Date], [StartTime], [EndTime], [Topic], [TeachingMaterialUrl], [ClassMediaUrls], [AssistantNote]) VALUES (3, 1, 1, CAST(N'2026-05-05' AS Date), CAST(N'08:30:00' AS Time), CAST(N'10:30:00' AS Time), N'Lùi Xe An Toàn', N'https://docs.google.com/presentation/d/1tuCUUjCxRiQ8Vz8X5kQbHGj9Z1sal1iS/edit?slide=id.p73#slide=id.p73', NULL, NULL)
INSERT [dbo].[Sessions] ([Id], [ClassId], [SessionNo], [Date], [StartTime], [EndTime], [Topic], [TeachingMaterialUrl], [ClassMediaUrls], [AssistantNote]) VALUES (4, 4, 1, CAST(N'2026-05-05' AS Date), CAST(N'17:30:00' AS Time), CAST(N'19:30:00' AS Time), N'Lập trình app Paint', N'https://docs.google.com/presentation/d/1_MXztmOktYAERzgpMr48bc0gj6BcM-uo/edit?usp=drive_web&ouid=112274170196286322043&rtpof=true', NULL, NULL)
INSERT [dbo].[Sessions] ([Id], [ClassId], [SessionNo], [Date], [StartTime], [EndTime], [Topic], [TeachingMaterialUrl], [ClassMediaUrls], [AssistantNote]) VALUES (5, 1, 2, CAST(N'2026-05-05' AS Date), CAST(N'08:30:00' AS Time), CAST(N'10:30:00' AS Time), N'Máy bắn đá', N'http://', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
INSERT [dbo].[StudentProfiles] ([UserId], [CurrentSchool], [GuardianName], [GuardianPhone], [MedicalNotes]) VALUES (1, N'Tiểu Học ACB', N'Trần Quốc Toả', N'0812733900', N'Không')
INSERT [dbo].[StudentProfiles] ([UserId], [CurrentSchool], [GuardianName], [GuardianPhone], [MedicalNotes]) VALUES (6, N'Tiểu học Hưng Bình', N'Nguyễn Tiến Hùng', N'0812733900', N'Không')
INSERT [dbo].[StudentProfiles] ([UserId], [CurrentSchool], [GuardianName], [GuardianPhone], [MedicalNotes]) VALUES (7, N'Tiểu học Hưng Phúc', N'Đào văn Huy', N'0812733900', N'Không')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RoleId], [Username], [PasswordHash], [FullName], [Phone], [Email], [IsActive], [AvatarUrl], [CreatedAt]) VALUES (1, 1, N'huy', N'$2a$11$oIy6S4Ckzc1Qtt6oR2954./A9oMtI15xcEM1r21Z72HF/f6C9Ipnu', N'Trần Quốc Huy', N'0812733900', N'huy@gmail.com', 1, N'/uploads/users/956abc0ce0c44dc0bb69b28f4d0dd30c.jpg', CAST(N'2026-05-03T09:04:17.773' AS DateTime))
INSERT [dbo].[Users] ([Id], [RoleId], [Username], [PasswordHash], [FullName], [Phone], [Email], [IsActive], [AvatarUrl], [CreatedAt]) VALUES (2, 2, N'admin', N'$2a$11$77MSFhn6kULHUWDwh7LhqejRU2iZ.KA4GI9bCp/jPG0JqJ0sJScli', N'Quản trị viên', NULL, N'admin@qpstem.vn', 1, N'/uploads/users/0ca95cf4d4a14bcf9121dcdb1b5b58c9.jpg', CAST(N'2026-05-03T09:04:17.773' AS DateTime))
INSERT [dbo].[Users] ([Id], [RoleId], [Username], [PasswordHash], [FullName], [Phone], [Email], [IsActive], [AvatarUrl], [CreatedAt]) VALUES (4, 3, N'tmanh', N'$2a$11$ZrCkS/a2htEH5ggqW7eUl.JtZs7ECYs4HK/U7bovXJabi5Uhk0.eG', N'Nguyễn Trọng Mạnh', N'0812733900', N'manhven05@gmail.com', 1, N'/uploads/users/3ceac5c09fc3419480f412e5e1ae326f.jpg', CAST(N'2026-05-03T09:04:17.773' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Classes__2ECD4A55BB375314]    Script Date: 5/9/2026 11:00:37 PM ******/
ALTER TABLE [dbo].[Classes] ADD UNIQUE NONCLUSTERED 
(
	[ClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses__A25C5AA769A22348]    Script Date: 5/9/2026 11:00:37 PM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipmen__048A0008296303C3]    Script Date: 5/9/2026 11:00:37 PM ******/
ALTER TABLE [dbo].[Equipments] ADD UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Invoices__D796B227747B5D19]    Script Date: 5/9/2026 11:00:37 PM ******/
ALTER TABLE [dbo].[Invoices] ADD UNIQUE NONCLUSTERED 
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Posts__BC7B5FB60B72526D]    Script Date: 5/9/2026 11:00:37 PM ******/
ALTER TABLE [dbo].[Posts] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F621924AD9]    Script Date: 5/9/2026 11:00:37 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4F7CBAA04]    Script Date: 5/9/2026 11:00:37 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollDate]
GO
ALTER TABLE [dbo].[EquipmentBorrows] ADD  DEFAULT (getdate()) FOR [BorrowTime]
GO
ALTER TABLE [dbo].[EquipmentCategories] ADD  DEFAULT ((0)) FOR [TotalQuantity]
GO
ALTER TABLE [dbo].[Equipments] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[MaintenanceLogs] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [PublishedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Sessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Sessions]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Student]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Courses]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Teacher]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Classes]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Student]
GO
ALTER TABLE [dbo].[EquipmentBorrows]  WITH CHECK ADD  CONSTRAINT [FK_EqBorrows_Borrower] FOREIGN KEY([BorrowerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[EquipmentBorrows] CHECK CONSTRAINT [FK_EqBorrows_Borrower]
GO
ALTER TABLE [dbo].[EquipmentBorrows]  WITH CHECK ADD  CONSTRAINT [FK_EqBorrows_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipments] ([Id])
GO
ALTER TABLE [dbo].[EquipmentBorrows] CHECK CONSTRAINT [FK_EqBorrows_Equipment]
GO
ALTER TABLE [dbo].[EquipmentBorrows]  WITH CHECK ADD  CONSTRAINT [FK_EqBorrows_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[EquipmentBorrows] CHECK CONSTRAINT [FK_EqBorrows_Session]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [FK_Equipments_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[EquipmentCategories] ([Id])
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [FK_Equipments_Category]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Class]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Student]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [FK_Leads_Course] FOREIGN KEY([InterestedId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [FK_Leads_Course]
GO
ALTER TABLE [dbo].[MaintenanceLogs]  WITH CHECK ADD  CONSTRAINT [FK_MaintLogs_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipments] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceLogs] CHECK CONSTRAINT [FK_MaintLogs_Equipment]
GO
ALTER TABLE [dbo].[MaintenanceLogs]  WITH CHECK ADD  CONSTRAINT [FK_MaintLogs_Reporter] FOREIGN KEY([ReportedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceLogs] CHECK CONSTRAINT [FK_MaintLogs_Reporter]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoice]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Author] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Author]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Classes]
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_StudentProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudentProfiles] CHECK CONSTRAINT [FK_StudentProfiles_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
